.rt-two{
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-rows: 65% 35%;
}
.img-pc{
    background-image: url(../../Assets/media.png);
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
}
.details-pc{

    color: black;
}
.details-pc h3{
    font-weight: bold;
}
.logos{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    align-items: center;
    justify-content: center;gap: .5rem;
    padding-top: .5rem;
}
.logos img{
    width: 1rem;
}