.leftside{
    background-color: #20263a;
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 65% 10%;
}
.left-top{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-top img{
    width: 5rem;
}

.left-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #eb3223;
    gap: 5px;
    cursor: pointer;
}
.left-bottom  img{
    width: 1rem;
    /* background-color: green; */
}
.left-bottom div{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}
.left-middle{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.left-middle ul {
    /* margin: 1rem;
    height: 100%; */
    width: 70%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.left-middle ul li {
    width: 100%;
    background-color: #1a1f30;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    cursor: pointer;

}
.left-middle ul .special {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    cursor: pointer;

}
.left-middle ul li div{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    padding-left: 3rem;
    /* justify-content: flex-end; */
    gap: .5rem;
    /* color: black; */
}
.left-middle ul li div a{

    color: rgb(255, 255, 255);
}
.left-middle ul .special div a{

    color: rgb(17, 16, 16);
}


.img-logo{
    width: 1rem;
    /* background-color: red; */
}

@media screen  and (max-width: 800px){

   
    .leftside{
        display: none;
    }
    }